modules = ["python-3.11", "python3"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Global Entry Monitor"

[[workflows.workflow]]
name = "Global Entry Monitor"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py -l 5140 -n ntfy -t vu_alert -i 600"

[deployment]
run = ["sh", "-c", "python main.py -l 5140 -n ntfy -t vu_alert -i 600"]
